.table {
    display: flex;
    flex-direction: column;
    
    .headersRow {
        display: table-header-group;    
        
        .headersCell {
            display: table-cell;
            padding: 1px 5px 10px;
            box-shadow: rgb(17, 141, 255) 0px -6px 0px -5px inset, black 0px 0px 0px -5px inset, black 0px 0px 0px -5px inset, black 0px 0px 0px -5px inset;
            box-sizing: border-box;
        }
    }

    .tableBody {
        // display: block;
        // overflow: auto;
        // max-height: 600px;

        .tableRow {
            display: table-row;
            
            &:nth-child(even) {
                background-color: #EEEDED;
            }
        
            .tableCell {
                display: table-cell;
            
                line-height: normal;
            
                padding-top: 1px;
                padding-right: 5px;
                padding-bottom: 2px;
                padding-left: 5px;
            
                box-shadow: inset 0px 0 0 -5px black, inset -0px 0 0 -5px black, inset 0 -6px 0 -5px #E5E5E5, inset 0 0px 0 -5px black;
                box-sizing: border-box;
            }

            .tableCellEditMode {
                display: table-cell;
            
                line-height: normal;
            
                padding-top: 1px;
                padding-right: 5px;
                padding-bottom: 2px;
                padding-left: 5px;
            
                box-shadow: inset 0px 0 0 -5px black, inset -0px 0 0 -5px black, inset 0 -6px 0 -5px #E5E5E5, inset 0 0px 0 -5px black;
                box-sizing: border-box;
            }
        }
    }
}


.inputField {
   display: table-cell;
}

button {
    position: absolute;
    top: 0;
    border-radius: 5px;
    right: 0px;
    z-index: 2;
    border: none;
    top: 2px;
    height: 30px;
    cursor: pointer;
    color: white;
    background-color: #1e90ff;
    transform: translateX(2px);
}

#tableAreaID {
    display: block;
    overflow: auto;
    // max-height: 600px;
}