table {
    display: flex;
    flex-direction: column;
}

tr, td {
    display: flex;
    flex: 1;
    border: 1px solid gray;
}

thead {
    border-bottom: 0px solid gray;
}

th {
    font-weight: bolder;
    font-style: italic;
}

div {
    .createdVisualFrame {
        overflow: auto;
        display: table;
        background-color: hotpink;

        .headersRow {
            display: table-header-group;
        }

        .headersCell {
            display: table-cell;
        }

        .tableRow {
            display: table-row;
        }

        .tableCell {
            display: table-cell;
            padding-left: 3px;
            padding-top: 1px;
            padding-right: 3px;
            padding-bottom: 1px;
        }
    }
}